{% extends "zaresapp/finezipo/base.html" %}

{% load i18n %} 
{% load staticfiles i18n %}

{%block title%}FZ | {{artista|upper}}{%endblock%}

{%block styles%}
{%endblock%}

{%block css%}
.navbar .navbar-nav > li > a {
    color: #000;
}
@media (max-width: 768px){
  .cbp-af-header {
    background: #000;
    background-color: rgba(0, 0, 0, 0.23);
  }
}
.navbar .navbar-toggle .icon-bar {
    background-color: #000;
}
.cbp-af-header.cbp-af-header-shrink {
    background: rgba(255, 255, 255, .6);
}
navbar h1 a{
    color: #000!important;
}
.navbar h1 small{
    color: #000;
}
.navbar .navbar-toggle .icon-bar {
    background-color: #000;
}
.navbar h1 a {
    color: #000;
}
{%endblock%}

{%block content%}
  <section id="port-item-details">
    <div class="container-fluid padding-side-60">

       <div class="e-divider-8"></div>
       <div class="post-header">
          <h2 class="e-uppercase" style="margin-top: 35px;">CAELIKE</h2>
          
          <div class="e-divider-2"></div>
       </div>
       <div class="e-divider-4"></div>
       <div class="row">
          <div class="col-md-4">
             <img src="{%static 'zaresapp/finezipo/assets/custom/images/caelike/02.jpg'%}" class="img-responsive">
             <div class="e-divider-2"></div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-7">
             <h3 class="font-accident-two-normal e-uppercase">BIO</h3>
             <div class="e-divider-2"></div>
             <p>
                Desde muy joven tuvo un acercamiento con el mundo de la comunicación, haciendo sus primeras apariciones en la Radio de su colegio.
             </p>
              <p>
                Posteriormente entró de extra a un programa de Nickelodeon "SKIMO" con lo que incursionó al mundo de la actuación, al mismo tiempo que termino su carrera de "Interprete - Traductor" ademas termino el "Teachers" e incluso estudio japonés. Hasta la actualidad ha trabajado en algunos canales de televisión mexicana como Televisa en el programa La Voz Kids 3 en donde trabajó como presentadora y acompañante de los concursantes.
              <p>
                Actualmente tiene una relación con el integrante del team “el Chamo” este le pudo ser su novia en el club Media fest Paraguay ,confirmaron su relación mediante un vídeo . En el amor definitivamente Caeli es una de las Mexicanas más buscadas y pretendidas por los chicos.
              </p>
                <p>
                  <strong>Su canal cuenta con mas de 11,000,000 de suscriptores y mas de 500,000,000 de reproducciones en total. Su canal fue creado el 22 de Septiembre de 2010. También tiene un canal secundario el cual no tiene tema fijo, solo ha subido 7 vídeos y cuenta con mas de 150,000 suscriptores y mas de 1,000,000 reproducciones en total, este canal secundario esta desde 7 de Febrero de 2011. También tiene un canal creado junto a su ex-novio donde compartían su día a día con los fans, llamado "Diario de una pasión", y por ultimo, un canal para la comunidad angloparlante donde sube vídeos de su canal principal en ingles, conocido como "Caeli" también tiene un canal personal llamado "la vida de caeli" donde usualmente sube vídeos diarios.</strong>
                </p>
             </p>
             <div class="e-divider-6"></div>

             <div class="row">
                <div class="col-md-12 padding-side-50 bg-color01">

                   <div class="e-divider-4"></div>
                   <div class="col-md-4">
                      <h4 class="font-accident-two-normal e-uppercase">PRESENTACIONES</h4>
                      <div class="e-divider-4"></div>
                   </div>
                   <div class="col-md-4">
                      <h4 class="font-accident-two-normal e-uppercase">INAUGURACIONES</h4>
                      <div class="e-divider-4"></div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <section id="portfolio" class="e-block e-block-skin pt-section" style="margin-top:45px;">
    <div class="light">
       <div class="grid container-fluid ">
          <div id="posts" class="row popup-container">
             <a href="{%static 'zaresapp/finezipo/assets/custom/images/caelike/02.jpg'%}" download>
             <div class="grid-item grid-sizer posters media-objects col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/caelike/02.jpg'%}" class="img-responsive" alt="caelike"/>
                   </figure>
                </div>
             </div>
           </a>
           <a href="{%static 'zaresapp/finezipo/assets/custom/images/caelike/03.jpg'%}" download>
             <div class="grid-item media-objects misc col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/caelike/03.jpg'%}" class="img-responsive" alt="caelike"/>
                   </figure>
                </div>
             </div>
           </a>
           <a href="{%static 'zaresapp/finezipo/assets/custom/images/caelike/04.jpg'%}" download>
             <div class="grid-item media-objects misc col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/caelike/04.jpg'%}" class="img-responsive" alt="caelike"/>
                   </figure>
                </div>
             </div>
           </a>
           <a href="{%static 'zaresapp/finezipo/assets/custom/images/caelike/05.jpg'%}" download>
             <div class="grid-item media-objects misc col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/caelike/05.jpg'%}" class="img-responsive" alt="caelike"/>
                   </figure>
                </div>
             </div>
           </a>
           <a href="{%static 'zaresapp/finezipo/assets/custom/images/caelike/06.jpg'%}" download>
             <div class="grid-item media-objects misc col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/caelike/06.jpg'%}" class="img-responsive" alt="caelike"/>
                   </figure>
                </div>
             </div>
           </a>
           <a href="{%static 'zaresapp/finezipo/assets/custom/images/caelike/07.jpg'%}" download>
             <div class="grid-item media-objects misc col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/caelike/07.jpg'%}" class="img-responsive" alt="caelike"/>
                   </figure>
                </div>
             </div>
           </a>
           <a href="{%static 'zaresapp/finezipo/assets/custom/images/caelike/08.jpg'%}" download>
             <div class="grid-item media-objects misc col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/caelike/08.jpg'%}" class="img-responsive" alt="caelike"/>
                   </figure>
                </div>
             </div>
           </a>
           <a href="{%static 'zaresapp/finezipo/assets/custom/images/caelike/09.jpg'%}" download>
             <div class="grid-item media-objects misc col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/caelike/09.jpg'%}" class="img-responsive" alt="caelike"/>
                   </figure>
                </div>
             </div>
           </a>
           <a href="{%static 'zaresapp/finezipo/assets/custom/images/caelike/10.jpg'%}" download>
             <div class="grid-item media-objects misc col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/caelike/10.jpg'%}" class="img-responsive" alt="caelike"/>
                   </figure>
                </div>
             </div>
           </a>
          </div>
       <div class="e-divider-6"></div>
    </div>
 </section>
 <!-- /Portfolio Block  -->
{%endblock%}

{%block js%}
{%endblock%}

{%block script%}
{%endblock%}

