{% extends "zaresapp/finezipo/base.html" %}

{% load i18n %} 
{% load staticfiles i18n %}

{%block title%}FZ | {{artista|upper}}{%endblock%}

{%block styles%}
{%endblock%}

{%block css%}
.navbar .navbar-nav > li > a {
    color: #000;
}
@media (max-width: 768px){
  .cbp-af-header {
    background: #000;
    background-color: rgba(0, 0, 0, 0.23);
  }
}
.navbar .navbar-toggle .icon-bar {
    background-color: #000;
}
.cbp-af-header.cbp-af-header-shrink {
    background: rgba(255, 255, 255, .6);
}
navbar h1 a{
    color: #000!important;
}
.navbar h1 small{
    color: #000;
}
.navbar .navbar-toggle .icon-bar {
    background-color: #000;
}
.navbar h1 a {
    color: #000;
}
{%endblock%}

{%block content%}
  <section id="port-item-details">
    <div class="container-fluid padding-side-60">

       <div class="e-divider-8"></div>
       <div class="post-header">
          <h2 class="e-uppercase" style="margin-top: 35px;">DAMARIS ROJAS</h2>
          
          <div class="e-divider-2"></div>
       </div>
       <div class="e-divider-4"></div>
       <div class="row">
          <div class="col-md-4">
             <img src="{%static 'zaresapp/finezipo/assets/custom/images/damaris/1.png'%}" class="img-responsive">
             <div class="e-divider-2"></div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-7">
             <h3 class="font-accident-two-normal e-uppercase">BIO</h3>
             <div class="e-divider-2"></div>
             <p>
                Nacio el 22 de agosto de 1985
             </p>
             <p>
                Empezo su carrera haciendo peliculas mexicanas (video home) estas peliculas salian en EU, "Cholas Satanicas", "De parranda con la banda"
             </p>
             <p>
                Modelo prefesional siendo imagen de marcas como Kodak, Pepsi, Prudence, Britos Jeans, CocaCola
             </p>
             <p>
                Revistas Maxitung, Soccermania
             </p>
             <p>
                2006- Inició proyecto con televisa como reportera y modelo
             </p>
             <p>
                2011- Inició proyecto como bailarina y modelo en el programa "Venga la alegria"
             </p>
             <p>
                2012- La invitan a particiar como actriz en el programa caso cerrado en miami
             </p>
             <p>
                2014- Particip como actriz en el programa palenque de enrique santos
             </p>
             <p>
                2014- Imagen de la campaña Prudence (Protección con Prudence)
             </p>
              <p>
                2015- Participación como bailarina en el programa tubo con maclovich (Bandamax)
             </p>
             <p>
                2017- Participación en el programa enamorandonos
             </p>
             <p>
                2018- Como dice el dicho
             </p>
              <p>
                2018- Conductora en el programa ponte fit
             </p>
              <p>
                2018- Conductora del programa hoy
             </p>
              <p>
                Actualmente realizo mi gira por toda la republica con el show "Damaris Rojas sin filtro"
             </p>
             <div class="e-divider-6"></div>
             <h3 class="font-accident-two-normal e-uppercase">SERVICIOS</h3>
             <div class="row">
                <div class="col-md-12 padding-side-50 bg-color01">

                   <div class="e-divider-4"></div>
                   <div class="col-md-4">
                      <h4 class="font-accident-two-normal e-uppercase">SHOW CASE</h4>
                      <div class="e-divider-4"></div>
                   </div>
                   <div class="col-md-4">
                      <h4 class="font-accident-two-normal e-uppercase">PRESENCIA</h4>
                      <div class="e-divider-4"></div>
                   </div>
                   <div class="col-md-4">
                      <h4 class="font-accident-two-normal e-uppercase">CARNAVALES</h4>
                      <div class="e-divider-4"></div>
                   </div>

                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <section id="portfolio" class="e-block e-block-skin pt-section" style="margin-top:45px;">
    <div class="light">
       <div class="grid container-fluid ">
          <div id="posts" class="row popup-container">
             <a href="{%static 'zaresapp/finezipo/assets/custom/images/damaris/1.png'%}" download>
             <div class="grid-item grid-sizer posters media-objects col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/damaris/1.png'%}" class="img-responsive" alt="damaris"/>
                   </figure>
                </div>
             </div>
           </a>
           <a href="{%static 'zaresapp/finezipo/assets/custom/images/damaris/2.png'%}" download>
             <div class="grid-item media-objects misc col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/damaris/2.png'%}" class="img-responsive" alt="damaris"/>
                   </figure>
                </div>
             </div>
           </a>
           <a href="{%static 'zaresapp/finezipo/assets/custom/images/damaris/3.png'%}" download>
             <div class="grid-item media-objects misc col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/damaris/3.png'%}" class="img-responsive" alt="damaris"/>
                   </figure>
                </div>
             </div>
           </a>
           <a href="{%static 'zaresapp/finezipo/assets/custom/images/damaris/4.png'%}" download>
             <div class="grid-item media-objects misc col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/damaris/4.png'%}" class="img-responsive" alt="damaris"/>
                   </figure>
                </div>
             </div>
           </a>
           <a href="{%static 'zaresapp/finezipo/assets/custom/images/damaris/5.png'%}" download>
             <div class="grid-item media-objects misc col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/damaris/5.png'%}" class="img-responsive" alt="damaris"/>
                   </figure>
                </div>
             </div>
           </a>
           <a href="{%static 'zaresapp/finezipo/assets/custom/images/damaris/6.png'%}" download>
             <div class="grid-item media-objects misc col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/damaris/6.png'%}" class="img-responsive" alt="damaris"/>
                   </figure>
                </div>
             </div>
           </a>
           <a href="{%static 'zaresapp/finezipo/assets/custom/images/damaris/7.png'%}" download>
             <div class="grid-item media-objects misc col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/damaris/7.png'%}" class="img-responsive" alt="damaris"/>
                   </figure>
                </div>
             </div>
           </a>
           <a href="{%static 'zaresapp/finezipo/assets/custom/images/damaris/8.png'%}" download>
             <div class="grid-item media-objects misc col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/damaris/8.png'%}" class="img-responsive" alt="damaris"/>
                   </figure>
                </div>
             </div>
           </a>
           <a href="{%static 'zaresapp/finezipo/assets/custom/images/damaris/9.png'%}" download>
             <div class="grid-item media-objects misc col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/damaris/9.png'%}" class="img-responsive" alt="damaris"/>
                   </figure>
                </div>
             </div>
           </a>
          </div>
       <div class="e-divider-6"></div>
    </div>
 </section>
 <!-- /Portfolio Block  -->
{%endblock%}

{%block js%}
{%endblock%}

{%block script%}
{%endblock%}

