{% extends "zaresapp/finezipo/base.html" %}

{% load i18n %} 
{% load staticfiles i18n %}

{%block title%}FZ | {{artista|upper}}{%endblock%}

{%block styles%}
{%endblock%}

{%block css%}
.navbar .navbar-nav > li > a {
    color: #000;
}
@media (max-width: 768px){
  .cbp-af-header {
    background: #000;
    background-color: rgba(0, 0, 0, 0.23);
  }
}
.navbar .navbar-toggle .icon-bar {
    background-color: #000;
}
.cbp-af-header.cbp-af-header-shrink {
    background: rgba(255, 255, 255, .6);
}
navbar h1 a{
    color: #000!important;
}
.navbar h1 small{
    color: #000;
}
.navbar .navbar-toggle .icon-bar {
    background-color: #000;
}
.navbar h1 a {
    color: #000;
}
{%endblock%}

{%block content%}
  <section id="port-item-details">
    <div class="container-fluid padding-side-60">

       <div class="e-divider-8"></div>
       <div class="post-header">
          <h2 class="e-uppercase" style="margin-top: 35px;">IAN Y ELEY</h2>
          
          <div class="e-divider-2"></div>
       </div>
       <div class="e-divider-4"></div>
       <div class="row">
          <div class="col-md-4">
             <img src="{%static 'zaresapp/finezipo/assets/custom/images/ianyeley/1.jpg'%}" class="img-responsive">
             <div class="e-divider-2"></div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-7">
             <h3 class="font-accident-two-normal e-uppercase">BIO</h3>
             <div class="e-divider-2"></div>
             <p>
                25 de noviembre de 2019 - Ciudad de México - Un nuevo dúo ha surgido ‘Ianyeley’. Se trata de la sensual estrella del reality 'Resistiré' y la telenovela ‘Atrévete a Soñar’ Eleazar Gómez quien estreno su primer video musical de lado del ex wapayaso favorito de México, Ian García quienes han sorprendido con su tremendo video sin censura que también corresponde a su nuevo sencillo.
             </p>
            <p>
                <h4>MUSICA</h4>
                El tema titulado 'Party Cochon' es una mezcla de géneros y letras que hablan en doble sentido respecto al sexo, sin embargo también sorprendió el video musical en donde casi todo el tiempo ambos famosos salen practicante sin ropa.
            </p>
            <p>
                <h4>IMAGEN</h4>
                Eleazar Gómez e Ian García poseen dos de los cuerpos más reconocidos en las redes sociales pues no conoce límites a la hora de elevar la temperatura en cada una de sus publicaciones en Instagram logrando complacer a todos sus seguidores. Este nuevo dúo llamado 'Ianyeley', un juego de palabras que une las primeras letras de sus nombres para crear así el nombre de este simpático dúo.
            </p>
            <p>
                <h4>IMPACTO</h4>
                El video que ha salido en las plataformas de streaming muestras los cuerpos desnudos de ambos artistas untándose con más personas y al final entre ellos y una modelo más, haciendo así la fantasía de un trío musi-sexual, el video tiene apenas unas horas y ha causado conmoción al respecto pues en eso diminutos boxers se les marca todo el producto.
            </p>
             <div class="e-divider-6"></div>
             <div class="row">
                <div class="col-md-12 padding-side-50 bg-color01">
                    <h3 class="font-accident-two-normal e-uppercase">SERVICIOS</h3>
                    <div class="col-md-4">
                        <h4 class="font-accident-two-normal e-uppercase">FESTIVALES</h4>
                        <div class="e-divider-4"></div>
                    </div>
                    <div class="col-md-4">
                        <h4 class="font-accident-two-normal e-uppercase">PRESENTACIONES</h4>
                        <div class="e-divider-4"></div>
                    </div>
                    <div class="col-md-4">
                        <h4 class="font-accident-two-normal e-uppercase">CARNAVALES</h4>
                        <div class="e-divider-4"></div>
                    </div>
                    <div class="col-md-4">
                        <h4 class="font-accident-two-normal e-uppercase">EVENTOS PRIVADOS</h4>
                        <div class="e-divider-4"></div>
                    </div>
                    <div class="col-md-4">
                        <h4 class="font-accident-two-normal e-uppercase">ANTROS</h4>
                        <div class="e-divider-4"></div>
                    </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <section id="portfolio" class="e-block e-block-skin pt-section" style="margin-top:45px;">
    <div class="light">
       <div class="grid container-fluid ">
          <div id="posts" class="row popup-container">
           <a href="{%static 'zaresapp/finezipo/assets/custom/images/ianyeley/1.jpg'%}" download>
              <div class="grid-item grid-sizer posters media-objects col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/ianyeley/1.jpg'%}" class="img-responsive" alt="ianyeley"/>
                   </figure>
                </div>
             </div>
           </a>
           <a href="{%static 'zaresapp/finezipo/assets/custom/images/ianyeley/2.jpg'%}" download>
             <div class="grid-item media-objects misc col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/ianyeley/2.jpg'%}" class="img-responsive" alt="ianyeley"/>
                   </figure>
                </div>
             </div>
           </a>
           <a href="{%static 'zaresapp/finezipo/assets/custom/images/ianyeley/3.jpg'%}" download>
             <div class="grid-item media-objects misc col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/ianyeley/3.jpg'%}" class="img-responsive" alt="ianyeley"/>
                   </figure>
                </div>
             </div>
           </a>
           <a href="{%static 'zaresapp/finezipo/assets/custom/images/ianyeley/4.jpg'%}" download>
             <div class="grid-item media-objects misc col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/ianyeley/4.jpg'%}" class="img-responsive" alt="ianyeley"/>
                   </figure>
                </div>
             </div>
           </a>
           <a href="{%static 'zaresapp/finezipo/assets/custom/images/ianyeley/5.jpg'%}" download>
             <div class="grid-item media-objects misc col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/ianyeley/5.jpg'%}" class="img-responsive" alt="ianyeley"/>
                   </figure>
                </div>
             </div>
           </a>
           <a href="{%static 'zaresapp/finezipo/assets/custom/images/ianyeley/6.jpg'%}" download>
             <div class="grid-item media-objects misc col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/ianyeley/6.jpg'%}" class="img-responsive" alt="ianyeley"/>
                   </figure>
                </div>
             </div>
           </a>
           <a href="{%static 'zaresapp/finezipo/assets/custom/images/ianyeley/7.jpg'%}" download>
             <div class="grid-item media-objects misc col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/ianyeley/7.jpg'%}" class="img-responsive" alt="ianyeley"/>
                   </figure>
                </div>
             </div>
           </a>
           <a href="{%static 'zaresapp/finezipo/assets/custom/images/ianyeley/8.jpg'%}" download>
             <div class="grid-item media-objects misc col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/ianyeley/8.jpg'%}" class="img-responsive" alt="ianyeley"/>
                   </figure>
                </div>
             </div>
           </a>
           <a href="{%static 'zaresapp/finezipo/assets/custom/images/ianyeley/9.jpg'%}" download>
             <div class="grid-item media-objects misc col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/ianyeley/9.jpg'%}" class="img-responsive" alt="ianyeley"/>
                   </figure>
                </div>
             </div>
           </a>
           <a href="{%static 'zaresapp/finezipo/assets/custom/images/ianyeley/10.jpg'%}" download>
             <div class="grid-item media-objects misc col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/ianyeley/10.jpg'%}" class="img-responsive" alt="ianyeley"/>
                   </figure>
                </div>
             </div>
           </a>
           <a href="{%static 'zaresapp/finezipo/assets/custom/images/ianyeley/11.jpg'%}" download>
             <div class="grid-item media-objects misc col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/ianyeley/11.jpg'%}" class="img-responsive" alt="ianyeley"/>
                   </figure>
                </div>
             </div>
           </a>
           <a href="{%static 'zaresapp/finezipo/assets/custom/images/ianyeley/12.jpg'%}" download>
             <div class="grid-item media-objects misc col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/ianyeley/12.jpg'%}" class="img-responsive" alt="ianyeley"/>
                   </figure>
                </div>
             </div>
           </a>
           <a href="{%static 'zaresapp/finezipo/assets/custom/images/ianyeley/13.jpg'%}" download>
             <div class="grid-item media-objects misc col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/ianyeley/13.jpg'%}" class="img-responsive" alt="ianyeley"/>
                   </figure>
                </div>
             </div>
           </a>
           <a href="{%static 'zaresapp/finezipo/assets/custom/images/ianyeley/14.jpg'%}" download>
             <div class="grid-item media-objects misc col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/ianyeley/14.jpg'%}" class="img-responsive" alt="ianyeley"/>
                   </figure>
                </div>
             </div>
           </a>
           <a href="{%static 'zaresapp/finezipo/assets/custom/images/ianyeley/15.jpg'%}" download>
             <div class="grid-item media-objects misc col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/ianyeley/15.jpg'%}" class="img-responsive" alt="ianyeley"/>
                   </figure>
                </div>
             </div>
           </a>
           <a href="{%static 'zaresapp/finezipo/assets/custom/images/ianyeley/16.jpg'%}" download>
             <div class="grid-item media-objects misc col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/ianyeley/16.jpg'%}" class="img-responsive" alt="ianyeley"/>
                   </figure>
                </div>
             </div>
           </a>
           <a href="{%static 'zaresapp/finezipo/assets/custom/images/ianyeley/17.jpg'%}" download>
             <div class="grid-item media-objects misc col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/ianyeley/17.jpg'%}" class="img-responsive" alt="ianyeley"/>
                   </figure>
                </div>
             </div>
           </a>
           <a href="{%static 'zaresapp/finezipo/assets/custom/images/ianyeley/18.jpg'%}" download>
             <div class="grid-item media-objects misc col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/ianyeley/18.jpg'%}" class="img-responsive" alt="ianyeley"/>
                   </figure>
                </div>
             </div>
           </a>
           <a href="{%static 'zaresapp/finezipo/assets/custom/images/ianyeley/19.jpg'%}" download>
             <div class="grid-item media-objects misc col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/ianyeley/19.jpg'%}" class="img-responsive" alt="ianyeley"/>
                   </figure>
                </div>
             </div>
           </a>
           <a href="{%static 'zaresapp/finezipo/assets/custom/images/ianyeley/20.jpg'%}" download>
             <div class="grid-item media-objects misc col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/ianyeley/20.jpg'%}" class="img-responsive" alt="ianyeley"/>
                   </figure>
                </div>
             </div>
           </a>
           <a href="{%static 'zaresapp/finezipo/assets/custom/images/ianyeley/21.jpg'%}" download>
             <div class="grid-item media-objects misc col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/ianyeley/21.jpg'%}" class="img-responsive" alt="ianyeley"/>
                   </figure>
                </div>
             </div>
           </a>
           <a href="{%static 'zaresapp/finezipo/assets/custom/images/ianyeley/22.jpg'%}" download>
             <div class="grid-item media-objects misc col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/ianyeley/22.jpg'%}" class="img-responsive" alt="ianyeley"/>
                   </figure>
                </div>
             </div>
           </a>
           <a href="{%static 'zaresapp/finezipo/assets/custom/images/ianyeley/23.jpg'%}" download>
             <div class="grid-item media-objects misc col-lg-3 col-md-4 col-sm-6 nopadding">
                <div class="item-wrap">
                   <figure class="effect-goliath">
                      <img src="{%static 'zaresapp/finezipo/assets/custom/images/ianyeley/23.jpg'%}" class="img-responsive" alt="ianyeley"/>
                   </figure>
                </div>
             </div>
           </a>
          </div>
       </div>
       <div class="e-divider-6"></div>
    </div>
 </section>
 <!-- /Portfolio Block  -->
{%endblock%}

{%block js%}
{%endblock%}

{%block script%}
{%endblock%}

