{% extends "zaresapp/sergiogarte/base.html" %}
{% load i18n %} 
{% load staticfiles i18n %}


{%block title%}SERGIO GARTE | ATELIER{%endblock title%}


{%block content%}
	<section id="hero-slider" class="brick-hero-slider full-height">
		<div class="slider-wrapper">
			<ul class="slider">
				<li class="is-visible">
					<div class="half-block image"></div>
					<div class="half-block content">
						<div class="center-div">
							<img class="mb-0 mt-20" src="{%static 'zaresapp/sergiogarte/images/deco2.png'%}" style="max-width: 50%;">
							<h2 class="mt-0 logo-garte" style="font-weight: 100; "><strong style="font-weight: 600;">SERGIO</strong> GARTE</h2>
							<h4 class="green mb-10 atelier">- ATELIER DE COUTURE -</h4>
							<p class="fs-12">
								De pequeño soñaba con vestir a todas esas personas que asistían a reuniones y fiestas familiares, con elegantes trajes cortados a la medida, camisas con puños y cuellos almidonados decorados con mancuernillas, yugo, pañuelos de colores que combinaban con sus ropas y pantalones con dobladillos perfectos.
							</p>

						</div>
					</div>
				</li>
				<li>
					<div class="half-block image"></div>
					<div class="half-block content">
						<div class="center-div">
							<img class="mb-0 mt-20" src="{%static 'zaresapp/sergiogarte/images/deco2.png'%}" style="max-width: 50%;">
							<h2 class="mt-0 logo-garte" style="font-weight: 100; "><strong style="font-weight: 600;">SERGIO</strong> GARTE</h2>
							<h4 class="green mb-10 atelier">- ATELIER DE COUTURE -</h4>
							<p class="mt-0 fs-12">
								
								Mujeres de largo, en finas gasas vaporosas, otras con texturas al tacto y a la vista, canutillos, cristales, hilos, listones y finos bordados; perfectamente ajustados a la figura que enaltecían la belleza de lo que parecían cuerpos perfectos, con accesorios que complementaban su estilo y reflejaban su personalidad, siempre acompañadas de un bolso con finos y delicados detalles que hacían cada pieza única.<br />
								Eso era un sueño y era como ir a Disneylandia, cada cena de navidad,  y fiesta de cumpleaños de la abuela.
							</p>
						</div>
					</div>
				</li>
				<li>
					<div class="half-block image"></div>
					<div class="half-block content">
						<div class="center-div">
							<img class="mb-0 mt-20" src="{%static 'zaresapp/sergiogarte/images/deco2.png'%}" style="max-width: 50%;">
							<h2 class="mt-0 logo-garte" style="font-weight: 100;e"><strong style="font-weight: 600;">SERGIO</strong> GARTE</h2>
							<h4 class="green mb-10 atelier">- ATELIER DE COUTURE -</h4>
							<p class="mt-0 fs-12">
								Siempre busca satisfacer hasta la última de las exigencias de sus clientes, entre quienes se encuentran: Actrices, Cantantes, Productoras (es), Empresarios (as) y Gente del Medio Diplomático.
							</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</section>
{%endblock content%}